nav {
    display: flex;
    flex-direction: column;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    padding: 2% 2%;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 700;
    width: 100vw;
    padding: 0% 2%;
    color: rgb(77, 76, 76);
    font-family: 'Merriweather', serif;
    margin-bottom: 1.3em;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    font-family:'Elsie', cursive, sans-serif, serif;
}

.top-nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5em;
    width: 13%;
}

.bottom-nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.nav-item {
    text-decoration: none;
    color: black;
    width: 1.5em;
    height: auto;
}

.nav-item:hover {
    cursor: pointer;
}

.categories {
    text-decoration: none;
    color: rgb(66, 65, 65);
}

.categories:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .logo {
        font-size: 2rem;
    }

    .top-nav {
    font-size: 1.4em;
    }

    .top-nav-items {
        width: 36%;
    }

    .shopping-bag {
        width: 1em;
        height: 1em;
    }

    .heart {
        width: 1em;
        height: 1em;
    }

    .bottom-nav {
        font-size: 0.6em;
        margin-bottom: 0.3em;
    }
}