.electronics-section {
    width: 98%;
    height: 35vh;
    background-image: url('../Assets/electronics-cover-image.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    margin-bottom: 9.3%;
}

.electronics-inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-electronics-button {
    background-color: black;
    font-size: 1.5em;
    color: white;
    padding: 1em;
    font-weight: 500;
    font-family: 'Merriweather', serif;
}

.shop-electronics-button:hover {
    cursor: pointer;
}



@media (max-width: 500px) {
    .electronics-section {
        width: 98%;
        height: 30vh;
        margin: 1%;
    }
}